/* ===========================
   CSS Variables
=========================== */

:root {
    --primary-color: steelblue;
    --secondary-color: #ddd;
    --text-color: #333;
    --white-color: #fff;
    --border-color: #000;
    --shadow-color: #777;

    --main-width: 840px;
    --profile-image-width: 150px;
    --aside-image-width: 200px;
}

/* ===========================
   Universal Selector
=========================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===========================
   Page Width
=========================== */

header,
.grid,
footer {
    max-width: var(--main-width);
    margin: 0 auto;
}

/* ===========================
   Navigation
=========================== */

nav {
    background-color: var(--primary-color);
    padding: 1rem;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    display: block;
    padding: .5rem;
    color: var(--white-color);
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 700;
}

nav a:hover {
    background-color: #245b87;
    border-radius: 5px;
}

/* ===========================
   Grid Layout
=========================== */

.grid {
    display: grid;
    grid-template-columns: 20rem 1fr;
    gap: 1rem;
    align-items: start;
    margin-top: 1rem;
}

/* ===========================
   Main
=========================== */

main {
    grid-column: 2 / 3;
    padding: 1rem;
}

h1 {
    color: var(--text-color);
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 1rem;
}

/* ===========================
   Profile Image
=========================== */

main img {
    width: var(--profile-image-width);
    height: auto;
    float: right;
    margin: 0 0 1rem 1rem;
    border: 1px solid #333;
    padding: 2px;
    box-shadow: 0 0 10px var(--shadow-color);
}

/* ===========================
   Aside
=========================== */

aside {
    width: 20rem;
    position: relative;

    grid-column: 1 / 2;
    grid-row: 1 / 2;

    text-align: center;
}

aside h2 {
    position: absolute;
    top: 18px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-shadow: 2px 2px 5px black;
}

aside img {
    width: var(--aside-image-width);
    height: auto;
}

/* ===========================
   Paragraphs
=========================== */

p {
    margin-bottom: 1rem;
    line-height: 1.5;
}

/* ===========================
   Footer
=========================== */

footer {
    margin-top: 2rem;
    padding: 1rem;
    text-align: center;
    border-top: 1px solid var(--border-color);
}

/* ===========================
   Reusable Box
=========================== */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: var(--secondary-color);
    color: #000;
}