/* Navigation */
nav {
    background-color: #333;
    padding: 10px;
}

nav a {
    color: white;
    padding: 10px;
    display: block;
}

/* Main content */
main {
    max-width: 840px;
}

/* Heading */
h1 {
    color: #333;
}

/* Profile image */
main img {
    width: 150px;
    height: auto;
    border: 1px solid #333;
    padding: 2px;
    box-shadow: 0 0 10px #777;
}

/* Aside */
aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

/* Aside image */
aside img {
    width: 200px;
    height: auto;
}

/* Paragraph */
p {
    padding: 0;
}

/* Footer */
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}